/* Navigation section */
.container {
  flex-direction: column;
}
.container ul li a {
  font-size: 1rem;
  padding: 0px 8px;
}
.container #home {
  height: 453px;
}
#home p {
  font-size: 1.1rem;
}

/* Utility classes */
.heading1 {
  font-size: 2.1rem;
}
/* The first section */

/* The second (collection) section */

#shopping {
  flex-direction: column;
}
/* Delivery section */
#delivery form {
  width: 80%;
}
/* About us section */
#third {
  flex: wrap;
  overflow: hidden;
}

/* Footer section */
